/student_management_system/student_management_system/__pycache__/urls.cpython-312.pyc
/student_management_system/student_management_system/__pycache__/urls.cpython-312.pyc
/student_management_system/student_management_system/__pycache__/urls.cpython-312.pyc
/student_management_system/student_management_system/__pycache__/urls.cpython-312.pyc
/ student_management_system/student_management_system/__pycache__/urls.cpython-312.pyc