{% extends 'hod_template/base_template.html' %}
{% block page_title %} 

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add Staff</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" action="/add_staff_save" method="post" >
            {% csrf_token %}
            <div class="card-body">
              <div class="form-group">
                <label>Email address</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Enter email"
                />
              </div>
              <div class="form-group">
                <label >Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Password"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">First Name</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="First Name"
                  name="first_name"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Last Name</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Last Name"
                  name="Last_name"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">UserName</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Username"
                  name="username"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Address</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Address"
                  name="address"
                />
              </div>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary btn-block" >Add Staff</button>
            </div>
          </form>
        </div>
        <!-- /.card -->

        <!-- Form Element sizes -->
 
        <!-- /.card -->
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
{% endblock page_title %} 
{% block main_content %}
{% endblock main_content %}
