{% extends 'hod_template/base_template.html' %}
{% block page_tile %}
Manage Staff
{% endblock page_tile %}
{% load static %}

{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Manage Staff</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
</section>
{% endblock main_content %}